services:
  mongo:
    image: mongo:7
    container_name: transact-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      # Ensures Mongo is fully ready before the app starts
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping').ok" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  transact-file-processing:
    image: transact-file-processing:latest
    container_name: transact-app
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      # Database connection (Points to the 'mongo' service code)
      - MONGO_URL=mongodb://mongo:27017

      # External Funds Transfer API
      - FUNDS_TRANSFER_API_URL=https://orange-fr.temenoscloud.com:541/OBAMobApi/api/v1.0.0/order/payments
      - FT_API_USER=GTSUSER
      - FT_API_PASS=1234567

      # App Logic & Logging
      - MAX_UPLOAD_LINES=5000
      - REST_LOG_LEVEL=DEBUG
      - REST_CLIENT_LOG_SCOPE=request-response
      - QUARKUS_PROFILE=dev

      # JVM Optimization for containers
      - JAVA_OPTS=-Xmx512m -Xms256m

    volumes:
      # Mount your local keys into the container
      # Ensure the path inside matches the WORKDIR in the Dockerfile
      - ./src/main/resources/jwt:/deployments/jwt:ro

volumes:
  mongo_data: